# Ignore raw and processed data
data/raw/
data/processed/
data/.cache/

# Ignore DVC cache files (tracked automatically)
.dvc/tmp/
.dvc/cache/

# Ignore virtual environment
.venv/
__pycache__/
*.pyc

# Ignore model weights
models/
*.pt
*.h5